html 
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self';">
    link(rel="stylesheet", href="/aStoneColdStyle.css")
    head 
        title BestChatServisEver
    body
        h1 User
        p
            a(href="/") Startside
        h2
            strong= user.username
        p
            |User #{user.id}: #{user.username}, userlevel: #{user.userLevel}, creation: #{user.dateCreation}
        h2 Users messages: 
        ul 
            each message in usersMessages
                a(href="/chats/" + message.chatId + "/messages/" + message.id, class="link")
                    p #{message.besked}